<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <div class="container-centre">
            <div class="centre-box larger-text">
                <h2>Protocols</h2>
                {% for protocol in protocols.values() %}
                <p>
                    <a href="/{{ protocol.PROTOCOL_PATH }}">{{ protocol.PROTOCOL_NAME }}</a>
                </p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
